<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="language" value="es" />
    <add key="vms_api_url" value="https://vholar.co/" />
    <add key="airline" value="VHOLAR - FLIGHT OPERATIONS DEPARTMENT - FLIGHT DATA ANALYSIS" />
    <add key="vms_api_key" value="your_phpvms_apikey" />
    <add key="simbrief_user" value="your_simbrief_user" />
    <!-- Polling configuration -->
    <add key="polling_interval_ms" value="50" />

    <!-- Position update intervals by phase (seconds) -->
    <add key="update_interval_taxi" value="30" />
    <add key="update_interval_takeoff" value="5" />
    <add key="update_interval_climb" value="15" />
    <add key="update_interval_cruise" value="30" />
    <add key="update_interval_descent" value="15" />
    <add key="update_interval_approach" value="5" />
    <add key="update_interval_other" value="30" />

    <!-- Event reporting -->
    <add key="report_gear_changes" value="true" />
    <add key="report_flap_changes" value="true" />
    <add key="report_spoiler_changes" value="true" />
    <add key="report_light_changes" value="true" />
    <add key="report_engine_changes" value="true" />

    <!-- Fuel tolerances -->
    <add key="fuel_tolerance_percent" value="10" />
    <add key="fuel_tolerance_absolute" value="50" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>